//Initial variables, don't use these anywhere else!
$green: #bad535;
$purple: #702b68;
$dark-purple: #3c0535;
$golden-years: #c7a554;

// Derived Variables
$primary: $green;
$secondary: $dark-purple;
$utility: $golden-years;
