@use "../abstracts/functions" as fn;
@use "../abstracts/initial-variables" as iv;
@use "./loaders/" as load;
@use "sass:math";

$grid-custom-breakpoints: null !default;
$grid-custom-column-widths: null !default;
$grid-columns: 12 !default;

$grid-breakpoints: fn.mergeHelperMaps(
  (
    "tablet": iv.$tablet,
    "desktop": iv.$desktop,
    "widescreen": iv.$widescreen,
    "fullhd": iv.$fullhd,
  ),
  $grid-custom-breakpoints
) !default;

$grid-column-widths: fn.mergeHelperMaps(
  (
    "full": $grid-columns,
    "half": math.div($grid-columns, 2),
    "one-third": math.div($grid-columns, 3),
    "one-fourth": math.div($grid-columns, 4),
    "three-fourths": math.div($grid-columns * 3, 4),
    "two-thirds": math.div($grid-columns * 2, 3),
  ),
  $grid-custom-column-widths
) !default;

.grid {
  @include load.grid($grid-columns);
}

.grid-item {
  @include load.grid-item(
    $grid-columns,
    $grid-column-widths,
    $grid-breakpoints
  );
}
